### used by table snap to monitor and back up files to AWS-S3
cassandra_data_file_directories: ["/var/lib/cassandra/data"]

cassandra_ops_os_user: cassandra
cassandra_shell_user: cassandra
cassandra_shell_password: cassandra
cassandra_yml_file: /etc/dse/cassandra/cassandra.yaml
nodetool_exec: /bin/nodetool
cqlsh_exec: /bin/cqlsh
cassandra_env_exec: /etc/dse/cassandra/cassandra-env.sh
tools_install_folder: /usr/share/dse
cassandra_install_lib_folder: /usr/share/dse/cassandra/lib

cassandra_restart_command: systemctl restart dse
cassandra_stop_command: systemctl stop dse
cassandra_start_command: systemctl start dse

medusa_aws_credentials_file: /opt/cassandra/.aws/credentials
medusa_aws_backup_cluster_prefix: cluster-a
medusa_aws_backup_bucket_name: <your-medusa-bucket>
tablesnap_aws_backup_bucket_name: <your-tablesnap-bucket>

### PLACEHOLDERS - pass these 2 variable from command line with "-e" when ansible-playbook is invoked
### used by cassandra-medusa and tablesnap
# aws_access_key_id: SOME_AWS_ACCESS_KEY
# aws_secret_access_key: SOME_AWS_SECRET_ACCESS_KEY
###

install_tablesnap: False
install_cassandra_exporter: False
install_filebeat: False
enable_jmx: False
create_reaper_db: False
install_datastax_mcac: False
install_medusa: True