[Unit]
Description=Node Exporter
After=cassandra.service

[Service]
PIDFile=/opt/cassandra/node_exporter/node_exporter.pid
ExecStart=/opt/cassandra/node_exporter/node_exporter  --collector.interrupts
StandardOutput=journal
StandardError=journal
User=cassandra
Group=cassandra
LimitNOFILE=100000
LimitMEMLOCK=infinity
LimitNPROC=32768
LimitAS=infinity
Restart=always

[Install]
WantedBy=cassandra.service
