# /usr/lib/systemd/system/tablesnap.service

[Unit]
Description=tablesnap
After=cassandra.service

[Service]
PIDFile=/run/tablesnap.pid
ExecStart={{ tools_install_folder }}/venv/python2-tablesnap/bin/tablesnap -r -a -B -k {{ aws_access_key_id }} -s {{ aws_secret_access_key }} {{ tablesnap_aws_backup_bucket_name }} {{ cassandra_data_file_directories|join(' ') }}
StandardOutput=journal
StandardError=journal
User=cassandra
Group=cassandra
LimitNOFILE=100000
LimitMEMLOCK=infinity
LimitNPROC=32768
LimitAS=infinity
Restart=always

[Install]
WantedBy=cassandra.service
