[defaults]
host_key_checking = False
roles_path = ./src/ansible/roles

### REPLACE WITH OR REMOVE AND USE "--user <remote-user-username> --private-key PRIVATE_KEY_PATH" WHEN EXECUTING THE PLAYBOOK
remote_user = <remote-user-username>
library = ./src/ansible/library
log_path=./src/ansible/ansible.log